.services {
    width: 100%;
    height: 3978px;
}

.services_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 135px;
}

.services_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 56px;
    font-weight: 700;
  
}

.services_desc {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: -26px;
}

.services_img {
    width: 1279px;
    margin-left: 120px;
    margin-top: 425px;
    position: absolute;
    left: 0;
    top: 0;
}

.achievement_block {
    margin-left: 120px;
    margin-top: 698px;
}

.achievement_logo {
    font-size: 16px;
    font-weight: 500;
}

.line {
    width: 464px;
    border: 1px solid #000;
    margin-left: 134px;
    margin-top: -21.5px;
}

.block_item {
    margin-top: 45px;
}

.block_footer {
    display: flex;
    flex-direction: column;
    margin-left: 900px;
    margin-top: -312px;
}

.block_logo {
    font-size: 24px;
    font-weight: 600;
    color: #333333;
}

.block_description {
    font-size: 18px;
    font-weight: 400;
    color: #9C9C9C;
} 

.block_item2 {
    margin-top: 141px;
}

.block_logo2 {
    font-size: 24px;
    font-weight: 600;
    color: #333333;
}

.block_description2 {
    font-size: 18px;
    font-weight: 400;
    color: #9C9C9C;
} 

.block_footer2 {
    display: flex;
    flex-direction: column;
    margin-left: 900px;
    margin-top: -312px;
}
.block_item3 {
    margin-top: 141px;
}

.block_logo3 {
    font-size: 24px;
    font-weight: 600;
    color: #333333;
}

.block_description3 {
    font-size: 18px;
    font-weight: 400;
    color: #9C9C9C;
} 

.block_footer3 {
    display: flex;
    flex-direction: column;
    margin-left: 900px;
    margin-top: -312px;
}

.product_block_footer {
    margin-left: 120px;
    margin-top: 200px;

}

.logo_product {
    color: #333333;
    font-size: 16px;
    font-weight: 500;
}

.product_line {
    width: 504px;
    border: 1px solid #333333;
    margin-left: 93px;
    margin-top: -12px;
}

.product_block_logo2 {
    font-size: 36px;
    font-weight: 600;
    color: #333333;
}

.product_block_desc {
    font-size: 18px;
    font-weight: 400;
    color: #9C9C9C;
    margin-left: 750px;
    margin-top: -122px;
}

.block_main_item {
    margin-top: 62px;
}

.logo_1 {
    font-size: 32px;
    font-weight: 600;
    color: #333333;
}

.logo_2 {
    font-size: 32px;
    font-weight: 600;
    color: #333333;
    margin-left: 87px;
}

.desc_1 {
    font-size: 18px;
    font-weight: 400;
    color: #333333;
    margin-left: 118px;
    margin-top: -6px;
    display: block;
}

.block_arrow {
    cursor: pointer;
    margin-top: 8px;
}