.btn {
    &.small {
        width: 128px;
        height: 49px;
        font-size: 14px;
        font-weight: 500;

    }
    &.medium {
        width: 142px;
        height: 49px;
        font-size: 14px;
        font-weight: 500;
    }
    &.large {
        width: 159px;
        height: 49px;
        font-size: 14px;
        font-weight: 500;
    }
    &.large_extra {
        width: 168px;
        height: 49px;
        font-size: 14px;
        font-weight: 500;
    }

    &.default {
        background: #2C3878;
        color: #ffffff;
        border: 1px solid #3C3C3C;
    }
    &.primary_white {
        background: #fff;
        color: #000;
        border: 1px solid #3C3C3C;
    }
    &.outline {
        background: #fff;
        color: #000;
        border: 1px solid #3C3C3C;
    }
}