.footer {
    width: 1517px;
    height: 598px;
    border: 1px solid #ffffff;
    margin-top: 70px;
} 

.footer_label {
    position: absolute;
    left: 0;
    top: 0;
    width: 1518px;
    height: 203px;
    background: #2C3878;
    margin-top: 4763px;
}

.text_footer {
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 120px;
    margin-top: 50px;
}

.footer_block {
    margin-top: -140px;
    margin-left: 900px;
}

.text_block {
    font-size: 18px;
    font-weight: 400;
    color: #D9D9D9;
}

.footer_block_btn {
    cursor: pointer;
}

.logo_desc {
    margin-left: 120px;
    margin-top: 297px;
}

.logo_footer {
    margin-top: -3px;
}

.text_logo_footer {
    font-size: 36px;
    font-weight: 600;
    color: #333333;
    margin-top: 8px;
}

.txt_email {
    font-size: 18px;
    color: #333333;
    margin-left: 1px;
}

.text_1 {
    margin-left: 1000px;
    margin-top: -171px;
}

.circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #333333;
    margin-left: 980px;
    margin-top: 5091px;

}

.latest_txt {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 1188px;
    margin-top: 5209px;
    color: #333333;
}

.block_icons {
    width: 195px;
    height: 24px;
    margin-left: 1189px;
    margin-top: 80px;
}


