.navbar {
    position: fixed;
    width: 1278px;
    height: 100px;
    border: 1px solid #ff0000;
    margin-left: 120px;
    margin-top: 20px;
}

.navigator {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-left: 300px;
    margin-top: 37px;
    gap: 63px;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;

}

.btn {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1135px;
    margin-top: 25px;

    cursor: pointer;
}